body {
  line-height: 1.6em;
  font-size: 16px;
  color: #222;
  background-color: #fff;
  background-image: url("brick-and-mortar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: system-ui;
}

a {
  color: black;
}

.message {
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
  font-weight: bold;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 128px;
}
