body {
  line-height: 1.6em;
  font-size: 16px;
  color: #222;
  background-color: #fff;
  background-image: url("brick-and-mortar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: system-ui;
  text-decoration-skip-ink: auto;
}
