body {
  font-size: 32pt;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

p {
  background: url(brick-and-mortar.jpg);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  font-weight: bold;
}

img {
  border-radius: 5px;
}